.aboutSectionContainer{
    display: flex;   
    flex-direction: column;
    gap: 1rem;

    .heading{
        color: #FF7518;
    }
    .box{
        display: flex;
        flex-direction: column;
        gap: .5rem;

        .point{
            display: flex;
            flex-direction: column;
            gap: .2rem;

            .title{

            }
            .details{
                font-size: 1.2rem;
                span{
                    color: #FF7518;
                    text-decoration: underline;
                }
            }
        }
    }
}